/* Site Layout */

.container {
  max-width: 940px;
}


/* Navbar Formatting */

/* 
  Allow two <a>'s in one <li> 
  Necessary due to structure of bootstrap navigation
*/
.nav-link {
  display: inline-block;
}

/* Remove padding betweem label and dropdown toggle caret */
.nav-link + .nav-link.dropdown-toggle {
  padding-left:  0pt;
}

/* Lighten navbar text. */
.navbar-dark {
  --bs-navbar-color: rgba(255, 255, 255, 0.75);
}


/* Basic Colors */

:root {
  --bs-dark-rgb: 20, 109, 68;
  --bs-link-color: #0d6efd;
  --bs-link-hover-color: #0a58ca;
}


/* Text */

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: bold;
}

h1, .h1 {
  font-size: 32px;
}
h2, .h2 {
  font-size: 24px;
}
h3, .h3 {
  font-size: 18px;
}
h4, .h4 {
  font-size: 14px;
}
h5, .h5 {
  font-size: 14px;
}
h6, .h6 {
  font-size: 14px;
}
body {
  font-size: 16px;
  margin: 0 0 10px;
}

/* Table Formatting */

table {
  /*margin-top: 10px;*/
  margin-bottom: 10px;
}

td, th {
  padding: 3px 10px;
}
