vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|29 Oct 2013 19:39:23 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|Kenneth-Netbook\\Kenneth
vti_modifiedby:SR|Kenneth-Netbook\\Kenneth
vti_timecreated:TR|10 Jul 2013 16:11:09 -0000
vti_backlinkinfo:VX|jpn/index.html conlanging/index.html latex/workshops/434-FS13/index.html index.html latex/workshops/index.html
vti_syncwith_afs.msu.edu\:21/web:TX|29 Oct 2013 19:39:23 -0000
vti_syncofs_afs.msu.edu\:21/web:TW|29 Oct 2013 19:50:45 -0000
vti_nexttolasttimemodified:TW|29 Oct 2013 19:39:02 -0000
vti_cacheddtm:TX|29 Oct 2013 19:39:23 -0000
vti_filesize:IR|615
