vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|17 Jun 2013 02:18:18 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|Kenneth-Netbook\\Kenneth
vti_modifiedby:SR|Kenneth-Netbook\\Kenneth
vti_timecreated:TR|17 Jun 2013 02:18:18 -0000
vti_cacheddtm:TX|17 Jun 2013 02:18:18 -0000
vti_filesize:IR|337
vti_backlinkinfo:VX|cse232/course_advice.html cse232/linux_basics.html cse232/section_policies.html cse232/software_dev_pointers.html cse232/editors.html cse232/getting_help.html cse232/grading_policies.html cse232/index.html cse232/linux_tips.html cse232/coding-style.html cse232/faqs.html cse232/working_remotely.html
vti_syncwith_afs.msu.edu\:21/web:TX|17 Jun 2013 02:18:18 -0000
vti_syncofs_afs.msu.edu\:21/web:TW|12 Sep 2013 02:40:43 -0000
